<html ng-app="Tombola.MyModule">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
</head>
<body ng-controller="MyController" ng-cloak>
    <div>
        <div><input type="text" ng-model="bar" ng-model-options="{ getterSetter : true}"></div>

        <div><input type="text" ng-model="bar" ng-model-options="{ getterSetter : true}"></div>
        {{bar}}<!-- Cannot bind like this - this is labelled a "feature" by angular two way binding only-->
    </div>
    <script>
        angular.module('Tombola.MyModule', []);
        angular.module('Tombola.MyModule')
                .controller('MyController', function ($scope) {
                    foo = 'start typing';
                    $scope.bar = function (newValue){
                        if(arguments.length > 0){
                           foo = newValue;
                        }
                        return foo;
                    };
                });
    </script>
</body>
</html>